<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'core:home' %}">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <!-- Si el usuario está autenticado, mostramos los enlaces adicionales -->
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:doctor_list' %}">Doctores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:medicamento_list' %}">Medicamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <!-- Formulario para cerrar sesión -->
                    <form method="POST" action="{% url 'core:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn" style="background: none; border: none; padding: 0; margin: 0; color: inherit; cursor: pointer;">Cerrar Sesión</button>
                    </form>
                </li>
            <!-- Si el usuario NO está autenticado, mostramos los enlaces de Iniciar sesión y Registrarse -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:login' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:signup' %}">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
